<div class="fr-background-alt--blue-france fr-py-5w">
    <p class="text-center fr-mb-0 fr-px-1w">Pour en savoir plus sur le service Authentification contactez-nous à l'adresse mail <a href="mailto:authentification@beta.gouv.fr">authentification@beta.gouv.fr</a></p>
</div>