<div class="fr-container">
    <div class="fr-grid-row fr-py-6w" >
      <div class="fr-col-6 separator fr-p-5w">
        <h2 class="fr-h3"> Votre administration est-elle éligible à Authentification ?</h2>
        <div class="fr-container fr-px-0">
          <div class="fr-grid-row">
            <div class="fr-col-12">
              <div class="fr-input-group">
                <label class="fr-label" for="newsletter-email">
                    Entrez votre adresse électronique professionnelle
                </label>
                <div class="fr-input-wrap fr-input-wrap--addon">
                    <input class="fr-input" title="nom@domaine.fr" autocomplete="email" attributes="[object Object]" aria-describedby="newsletter-email-hint-text newsletter-email-messages" placeholder="(ex. : nom@domaine.fr)" type="email">
                    <button class="fr-btn" title="S‘abonner à notre lettre d’information" type="submit">
                        Vérifier
                    </button>
                </div>
                <div class="fr-messages-group" id="newsletter-email-messages" aria-live="assertive">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fr-col-6 fr-p-5w">
        <h2 class="fr-h3">Essayez de vous connecter avec Authentification</h2>
        <p class="fr-mb-1w">Découvrez le parcours d'Authentification</p>
        <a class="fr-link fr-link--lg" href="<%= loginUrl %>">Connexion avec Authentification</a>
      </div>
    </div>
  </div>
</div>