<div class="container fr-mx-16w fr-my-6w">
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-sm-6">
          <div class="fr-tile fr-enlarge-link fr-tile--horizontal">
            <div class="fr-tile__body">
              <h2 class="fr-tile__title">
                <g-link class="fr-tile__link fr-text--xl" to="/">Comment ça marche ?</g-link>
              </h2>
              <p class="fr-tile__desc">
                Il vous suffira d'entrer votre adresse mail professionnelle et le service vous renverra un code à usage unique sur votre boite mail et/ou sur votre compte Tchap.
              </p>
              </div>
            <div class="fr-tile__img">
              <img svg-inline src="/images/comment-ca-marche.svg" class="fr-responsive-img" aria-hidden="true">
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-sm-6">
          <div class="fr-tile fr-enlarge-link fr-tile--horizontal">
            <div class="fr-tile__body">
              <h2 class="fr-tile__title">
                <g-link class="fr-tile__link fr-text--xl" to="/commando-ux/">Par qui ?</g-link>
              </h2>
              <p class="fr-tile__desc">
                Produit  par beta.gouv au sein de la Direction Interministérielle du Numérique (DINUM). <br>
                Authentification utilise des protocoles et logiciels reconnus et open-source :
                <dfn class="red" title="OpenID  est basé sur l'échange d'une preuve d'authenticité (un secret partagé) entre le serveur d'authentification (fournisseur d'identité) et les services tiers sur lesquels l'utilisateur souhaite se connecter.">
                  OpenId</dfn>, Keycloak, Matrix.
              </p>
            </div>
            <div class="fr-tile__img">
              <img svg-inline src="/images/par-qui.svg" class="fr-responsive-img" aria-hidden="true">
            </div>
          </div>
        </div>
    </div>
</div>