<div class="container fr-mx-16w fr-mb-6w">
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-sm-6">
          <div class="fr-tile fr-enlarge-link fr-tile--horizontal">
            <div class="fr-tile__body">
              <h2 class="fr-tile__title">
                <g-link class="fr-tile__link fr-text--xl" to="/">Comment ça marche ?</g-link>
              </h2>
              <p class="fr-tile__desc">Connectez  vos utilisateurs simplement,
                grâce à la réception d'un code reçu par mail et sur Tchap.
                Authentification fonctionne via le protocole <dfn class="red" title="OpenID  est basé sur l'échange d'une preuve d'authenticité (un secret partagé) entre le serveur d'authentification (fournisseur d'identité) et les services tiers sur lesquels l'utilisateur souhaite se connecter.">OpenId</dfn>.
                <br>Ce service est disponible dès maintenant.</p>
            </div>
            <div class="fr-tile__img">
              <img svg-inline src="/images/angry-icon.svg" class="fr-responsive-img" aria-hidden="true">
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-sm-6">
          <div class="fr-tile fr-enlarge-link fr-tile--horizontal">
            <div class="fr-tile__body">
              <h2 class="fr-tile__title">
                <g-link class="fr-tile__link fr-text--xl" to="/commando-ux/">Par qui ?</g-link>
              </h2>
              <p class="fr-tile__desc">Authentification est un produit de la Direction Interministérielle du Numérique (DINUM). Il suit la méthode beta.gouv.fr qui promeut - entre autres - le code open source. 
              Le système d’authentification est propulsé par Keycloack qui est un logiciel libre.</p>
            </div>
            <div class="fr-tile__img">
              <img svg-inline src="/images/angry-icon.svg" class="fr-responsive-img" aria-hidden="true">
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-sm-6">
          <div class="fr-tile fr-enlarge-link fr-tile--horizontal">
            <div class="fr-tile__body">
              <h2 class="fr-tile__title">
                <a class="fr-tile__link fr-text--xl" href="https://observatoire.numerique.gouv.fr/Aide/Donner%20son%20avis" title="Je donne mon avis - Nouvelle fenêtre" target="_blank">Avantages</a>
              </h2>
              <p class="fr-tile__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
            <div class="fr-tile__img">
              <img svg-inline src="/images/angry-icon.svg" class="fr-responsive-img" aria-hidden="true">
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-sm-6">
          <div class="fr-tile fr-enlarge-link fr-tile--horizontal">
            <div class="fr-tile__body">
              <h2 class="fr-tile__title">
                <a class="fr-tile__link fr-text--xl" href="https://observatoire.numerique.gouv.fr/" title="L'observatoire - Nouvelle fenêtre" target="_blank">Limites</a>
              </h2>
              <p class="fr-tile__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
            <div class="fr-tile__img">
              <img svg-inline src="/images/angry-icon.svg" class="fr-responsive-img" aria-hidden="true">
            </div>
          </div>
        </div>
      </div>

</div>