<header role="banner" class="fr-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row">
                <div class="fr-header__brand fr-enlarge-link">
                    <div class="fr-header__brand-top">
                        <div class="fr-header__logo">
                            <p class="fr-logo">
                                République <br>Française</br>
                            </p>
                        </div>
                        <div class="fr-header__navbar">
                            <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-833"
                                    aria-haspopup="menu" title="Menu" id="fr-btn-menu-mobile">
                                Menu
                            </button>
                        </div>
                    </div>
                    <div class="fr-header__service">
                        <a href="/" title="Accueil - Authentification - Ministère du test">
                            <p class="fr-header__service-title">Authentification</p>
                        </a>
                        <p class="fr-header__service-tagline"></p>
                    </div>
                </div>
                <div class="fr-header__tools">
                    <div class="fr-header__tools-links">
                        <ul class="fr-links-group">
                            <li>
                                <a class="fr-link" href="/documentation" data-probe-name="pem">Documentation</a>
                            </li>
                            <li>
                                <a class="fr-link" href="/glossaire" data-probe-name="faq">Glossaire</a>
                            </li>
                            <% if (user) { %>
                            <li>
                                <span class="fr-link" href="">
                                    Connecté en tant que : <%= user %>
                                </span>
                            </li>
                            <li>
                                <a class="fr-link fr-icon-logout-box-r-fill" href="/logout">
                                    Déconnexion
                                </a>
                            </li>
                            <% } else { %>
                            <li>
                                <a class="fr-link fr-link--lg" href="<%= loginUrl %>">Connexion avec Authentification</a>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
