<%- include('partials/skiplink.ejs'); %> 
<%- include('partials/header.ejs'); %>
<%- include('partials/menu.ejs', {}); %>
<div class="fr-container">
    <h1 class="fr-grid-row fr-py-5w">Fonctionnement</h1>
    <div class="fr-highlight fr-mb-6w">
        <p>
            Authentification est un service d'authentification pour les agent·e·s publics. Il fonctionne sans création de compte ni de mot de passe. Il vous suffira d'entrer votre adresse mail professionnelle et le service vous renverra un code à usage unique sur votre boite mail et/ou sur votre compte Tchap (messagerie instantanée de l'Etat).
        </p>
    </div>
    <div
    class="fr-table"
    data-fr-js-table="true"
    style="--table-offset: calc(32px + 1rem)"
    >
        <table data-fr-js-table-element="true">
            <caption data-fr-js-table-caption="true">
            Comparaison des offres existantes
            </caption>
            <thead>
                <tr>
                    <th scope="col">Vos utilisateurs</th>
                    <th scope="col" class="highlighted_column">Authentification</th>
                    <th scope="col">MonComptePro</th>
                    <th scope="col">FranceConnect</th>
                    <th scope="col">AgentConnect</th>
                    <th scope="col">ProSantéConnect</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Particuliers</td>
                    <td class="highlighted_column text-center">❌</td>
                    <td class="text-center">❌</td>
                    <td class="text-center">✅</td>
                    <td class="text-center">❌</td>
                    <td class="text-center">❌</td>
                </tr>
                <tr>
                    <td>Professionnels</td>
                    <td class="highlighted_column text-center">❌</td>
                    <td class="text-center">✅</td>
                    <td class="text-center">❌</td>
                    <td class="text-center">❌</td>
                    <td class="text-center">❌</td>
                </tr>
                <tr>
                    <td>Professionnels de santé</td>
                    <td class="highlighted_column text-center">❌</td>
                    <td class="text-center">❌</td>
                    <td class="text-center">❌</td>
                    <td class="text-center">❌</td>
                    <td class="text-center">✅</td>
                </tr>
                <tr>
                    <td>Entreprises</td>
                    <td class="highlighted_column text-center">❌</td>
                    <td class="text-center">✅</td>
                    <td class="text-center">❌</td>
                    <td class="text-center">❌</td>
                    <td class="text-center">❌</td>
                </tr>
                <tr>
                    <td>Agents de l'administration centrale</td>
                    <td class="highlighted_column text-center">✅</td>
                    <td class="text-center">✅</td>
                    <td class="text-center">❌</td>
                    <td class="text-center">✅</td>
                    <td class="text-center">❌</td>
                </tr>
                <tr>
                    <td>Agents de la fonction publique hospitalière</td>
                    <td class="highlighted_column text-center">✅</td>
                    <td class="text-center">❌</td>
                    <td class="text-center">❌</td>
                    <td class="text-center">❌</td>
                    <td class="text-center">❌</td>
                </tr>
                <tr>
                    <td>Agents des collectivités territoriales</td>
                    <td class="highlighted_column text-center">✅</td>
                    <td class="text-center">✅</td>
                    <td class="text-center">❌</td>
                    <td class="text-center">❌</td>
                    <td class="text-center">❌</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<%- include('partials/footer.ejs') %>
